<h1> Lets type some racing and race some typing </h1>
<h2> Here's your race track: </h2>
<br/>
<span id = "race_text"> A long time ago, in a galaxy far, far away...
It is a period of civil war. Rebel
spaceships, striking from a hidden
base, have won their first victory
against the evil Galactic Empire. 
</span>
<br/>
<h3 id="stuff"> You Typed: </h3>
<span id = "typed"> </span>
<br/>
<button id="right_wrong">Start</button>
<br/>
<span id="errors"> </span>
