<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	
</head>


<body>
	<%= yield %>
	<script type="text/javascript" src="/javascripts/star_wars.js"></script>
</body>

</html>